* {
    box-sizing: border-box;
}

body {
    background-color: #EDF2C5;
    margin: 0%;
}

.container {
    width: 1264px;
    height: 880px;
}

.main {
    margin: 53px 160px 24px 160px;
    width: 940px;
    font-size: 0%;
}

/*------------------------------------------*/

.top-box {
    display: flex;
    align-items: center;
    width: 940px;
    height: 50px;
}

.top-box * {
    display: inline-block;
    vertical-align: middle;
}

.title {
    position: relative;
    display: inline-block;
    width: 271px;
    height: 42px;
    margin-bottom: 8px;
    margin-right: 468px;
}

.title h1 {
    display: inline-block;
    font-family: Arial Black;
    font-size: 36px;
    color: #778A50;
    margin-bottom: 8px;
    margin-top: 0%;
}

.icons * {
    display: inline-block;
    vertical-align: middle;
}

.icons {
    margin-top: 8px;
	padding-bottom: 17px;
	height: 25px;
    width: 201px;
    padding: 0%;
    margin-bottom: 17px;
    font-size: 0%;
    float: right;
}

.facebook, .instagram {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.vline {
    width: 1px;
	height: 25px;
	background-color: #778A50;
	display: inline-block;
}

.button {
    display: inline-block;
}

.button * {
    display: inline-block;
    font-family: arial black;
    font-size: 12px;
    color: #778A50;
    font-weight: bold;
    border: 1px solid #778A50;
    border-radius: 3px;
    height: 25px;
    background-color: #EDF2C5;
    margin-left: 10px;
}

.login {
    width: 60px;
}

.join {
    width: 50px;
}

.nav {
    display: flex;
    align-items: center;
    width: 940px;
    height: 44px;
    background-color: #778A50;
    border: 1px solid #778A50;
    border-radius: 3px;
    margin-bottom: 20px;
}

.nav a {
    display: inline-block;
    font-family: Arial Black;
    font-size: 16px;
    padding: 16px 30px 16px 30px;
    color: #EDF2C5;
}

/* -------------------------------*/

.container-images {
    display: inline-grid;
    float: left;
    grid-template-rows: 45px 140px;
    grid-template-columns: 140px 140px 140px;
    grid-column-gap: 12px;
    grid-row-gap: 15px;
    margin-top: 30px;
}

.container-images h2 {
    grid-column: 1/4;
    display: flex;
    align-items: center;
    font-family: Arial Black;
    font-size: 16px;
    color:#EDF2C5;
    border: 1px solid #778A50;
    border-radius: 3px;
    background-color: #778A50;
    padding: 15px 0px 15px 30px;
    margin: 0%;
}

.image {
    width: 140px;
    height: 140px;
}

/* -------------------------------*/

.container-contact {
    display: inline-grid;
    float: right;
    grid-template-rows: 45px 140px;
    grid-template-columns: 140px 140px 140px;
    grid-column-gap: 12px;
    grid-row-gap: 15px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.container-contact h2 {
    grid-column: 1/4;
    display: flex;
    align-items: center;
    font-family: Arial Black;
    font-size: 16px;
    color:#EDF2C5;
    border: 1px solid #778A50;
    border-radius: 3px;
    background-color: #778A50;
    padding: 17px 0px 16px 30px;
    margin: 0%;
}

.container-contact div {
    grid-column: 1/4;
    background-color: #F7FBDA;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.33;
    padding-left: 15px;
    margin: 0%;
    color: #7D7D7D;
}

#hline {
    width: 414px;
    height: 1px;
    background-color: #7D7D7D;
}

.contacting {
    margin: 0%;
    padding: 16px 15px 16px 0px;
}

.email, .phone {
    line-height: 1.83;
}

.email {
    margin: 0%;
    padding: 16px 15px 0px 0px;
}

.phone {
    margin: 0%;
}

/* ------------------------ */

.footer {
    width: 1264px;
    height: 60px;
    background-color: #778A50;
    border: 1px solid #778A50;
    clear: both;
} 

.footer p {
    font-family: Arial;
    font-size: 12px;
    color: #EDF2C5;
    padding: 24px 479px 25px 479px;
    margin: 0%;
}